<ion-view view-title="Contacto" >
    <ion-nav-title>
        <span style="color:white">Contacto</span>
    </ion-nav-title>
  <ion-content style="background-color:#1b1425">
    <img class="full-image" src="img/logo_kingbull_fb.png">
    <a class="item item-icon-left grad-negro" style="color:#white">
        <i class="icon ion-ios-location-outline" style="color:#e1314a"></i>
        <h2 style="color:#e1314a">DIRECCIÓN</h2>
        <p>{{contacto.direccion}}</p>
    </a>


    <a class="item item-icon-left grad-negro" style="color:#white">
          <i class="icon ion-ios-telephone-outline" style="color:#e1314a"></i>
        <h2 style="color:#e1314a">TELÉFONO</h2>
        <p>{{contacto.telefono}}</p>
    </a>

    <a class="item item-icon-left grad-negro"
       style="color:#white">
          <i class="icon ion-ios-email-outline" style="color:#e1314a"></i>
        <h2 style="color:#e1314a">E-MAIL</h2>
        <p>{{contacto.email}}</p>
    </a>
      <!--<div class="list card" >
      <div class="item item-image">
        <img src="img/logo_kingbull_fb.png">
      </div>
      <a class="item item-icon-left assertive" href="#">
        <i class="icon ion-ios-location"></i>
        Av. San José y Las Almendras
      </a>

      <a class="item item-icon-left assertive" href="#">
          <i class="icon ion-ios-telephone"></i>
        0992 905 444
      </a>

      <a class="item item-icon-left assertive" href="#">
          <i class="icon ion-ios-email"></i>
        kingbullcrossfit@gmail.com
      </a>

    </div>
-->

  </ion-content>
</ion-view>
